@media (min-width: $s-xs) {
  .img, .ico {
    img {
      display: block;
      width: 100%;
    }
  }
  .img {
    &-bonus {
      position: absolute;
      max-width: 450px;
      max-height: 450px;
      bottom: -100px;
    }
    &-text {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: radial-gradient(200px 150px at 50% 50%, lighten(map-get($bc, 'dblue'), 14%), Transparent);
      img {
        max-width: 500px;
      }
    }
  }
  .ico {
    display: flex;
    align-items: center;
    width: 90%;
    &-w {
      &-70 {
        img {
          margin: 4px;
          width: 70px;
        }
        span {
          display: block;
          height: 2px;
          margin: 10px;
          width: 100%;
          background: #d5d8e3;
        }
      }
    }
    &-number {
      margin: 25px;
      background: map-get($bc, 'dblue' );
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      span {
        font-size: 22px;
        font-weight: 600;
        color: $w;
      }
    }
  }
}
@media (min-width: $s-sm) {}
@media (min-width: $s-md) {}
@media (min-width: $s-lg) {}
@media (min-width: $s-xl) {}
@media (min-width: $s-xxl) {}